table{
    margin: auto;
    border: 1px solid black;
}
caption{

    margin: 20px;
    font-size: 20px;
}
th{
    width: 167px;
    border: 1px solid black;
    font-size: 1.3rem;
    padding: 5px 30px;
    text-align: center;
    text-wrap: nowrap;
}
tr{
    border: 1px solid black;
}
td{
    width: 167px;
    padding: 5px 30px;
    border: 1px solid black;
    text-align: center;
    text-wrap: nowrap;
}
.firstchild{
    width:100px
}
.lastchild{
    width: 310px;
}
