<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is a  home page</h1>
    <h3><%= 1+2 %></h3>
    <h3><%= "rocky".toUpperCase() %></h3>
    <h3><%= ["hello","bonjour","namaste"][2].toUpperCase() %></h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum voluptatem modi, saepe, laboriosam blanditiis asperiores aut non voluptates dolore velit dolor. Beatae quis maxime officia laudantium quia dolorem incidunt voluptas.
        Quaerat velit aut dicta cupiditate repudiandae cum voluptatibus ipsam asperiores. Adipisci totam voluptates aperiam? Odit quas consectetur, vitae quia repudiandae blanditiis consequatur! Dolore iure et corporis nihil odio quas nesciunt!
        Reprehenderit nam necessitatibus, in odio mollitia dicta voluptatum fugiat maiores placeat, magni ad. Quos adipisci vitae, corporis veritatis eveniet quam tempora unde quo necessitatibus molestias ex quibusdam facere autem exercitationem.
        Ducimus fugiat sint tenetur amet dolorum, laboriosam voluptatibus beatae impedit iusto eum ea iure voluptates quas quae repellendus quod suscipit quam corrupti laudantium incidunt magni animi! Harum repudiandae suscipit et?
    </p>
    <button>Click Me!</button>
</body>
</html>