div{
    height: 200px;
    width: 200px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: blueviolet;
    transition:margin-top 1s ease-in 0.2s;
}
div:hover{
border-radius: 50%;
background-color: aqua;
margin-top: 200px;
}